body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}

.heart{
    width: 100px;
    height: 100px;
    background-color: firebrick;
    position: relative;
    transform: rotate(-45deg);
    animation: pulse 1s linear infinite;
}
.heart::before{
    content: '';
    width: 100px;
    height: 100px;
    background-color: inherit;
    position: absolute;
    top: -50%;
    border-radius: 50%;
}
.heart::after{
    content: '';
    width: 100px;
    height: 100px;
    background-color: inherit;
    position: absolute;
    right: -50%;
    border-radius: 50%;
}

@keyframes pulse{
    0%{
        transform: rotate(-45deg) scale(1)
    }
    10%{
        transform: rotate(-45deg) scale(1.1)
    }
    20%{
        transform: rotate(-45deg) scale(0.95)
    }
    30%{
        transform: rotate(-45deg) scale(1.2)
    }
    40%{
        transform: rotate(-45deg) scale(1.05)
    }
    50%{
        transform: rotate(-45deg) scale(1.2)
    }
    60%{
        transform: rotate(-45deg) scale(1.05)
    }
    70%{
        transform: rotate(-45deg) scale(1)
    }
}