@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.small-img{
  height: 120px;
  display: block;
  margin-bottom: 7px;
  opacity: .6;
  transition: opacity 0.5s;
}
.small-img:hover{
  opacity: 1;
}
.large-img{
  height: 500px;
  margin-left: 10px;
}
