
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


a{
  color: #fff;
  text-decoration: none;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ee4266;
  min-height: 100vh;
  flex-direction: column;
}

.content{
  width: 500px;
  height: 600px;
  text-align: center;
  color: #fff;
}

.content h1{
  margin: 100px 0 20px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 80px;
  position: relative;
}

.logo h2{
  position: absolute;
  bottom: 0;
  font-size: 40px;
  text-shadow: 0 2px 5px black;
}

.content p{
  margin-bottom: 30px;
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  width: 100px;
  margin-right: 10px;
}